@{
    ViewBag.Title = "Home Page";
}

<div class="classeH1">
    <h1>CADASTRO DE CURSOS REALIZADOS ONLINE</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manutenção de Cursos</h2>
        <p>Módulo de Manutenção dos Cursos</p>
        <p>@Html.ActionLink("Cursos", "Index", "Curso")</p>
    </div>
</div>